@use "mixin";
@use "var";

// Sección about
.page-section {
  // General styles for the "About" section

  &#about {
    // Customize container
    background-color: var.$bg-light1;

    .container {
      .text-center {
        // Titles and subtitles
        .scroll-anim {
          @include mixin.scroll-animation(y, 50px, 0.8s, ease-out)
        }

        .section-heading {
          // Customize main title
          @include mixin.title;
          font-family: "Agu Display", serif;                  
        }

        .section-subheading {
          // Customize subtitle
          @include mixin.subtitles;       
        }
      }
    }
  }
}

// Timeline
.timeline {
  // List Items
  position: relative;
  padding: 0px;
  list-style: none;


  &::before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 40px; //center the line horizontally
    width: 2px; //line thickness 
    margin-left: -1.5px;
    content: "";
    background-color: rgb(233, 236, 239); //line color

    //box-sizing: border-box;
    @include mixin.min-width-768 {
      left: 50%;
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
  }

  li {
    // Timeline image
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;

    @include mixin.min-width-768 {
      min-height: 100px;
      margin-bottom: 100px;
    }

    @include mixin.min-width-992 {
      min-height: 150px;
    }

    @include mixin.min-width-1200 {
      min-height: 170px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &::before {
      display: table;
      content: "";
    }

    &::after {
      clear: both;
      display: table;
      content: "";
    }

    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0px;
      width: 80px;
      height: 80px;
      margin-left: 0px;
      text-align: center;
      color: white;
      background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
      border-width: 7px;
      border-style: solid;
      border-color: rgb(233, 236, 239);
      border-image: initial;
      border-radius: 100%; 

      @include mixin.min-width-768 {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
      }

      @include mixin.min-width-992 {
        width: 150px;
        height: 150px;
        margin-left: -75px;
      }

      @include mixin.min-width-1200 {
        width: 170px;
        height: 170px;
        margin-left: -85px;
      }
    }
  
    .timeline-panel {
      // Panel Header      
      position: relative;
      float: right;
      width: 100%;
      text-align: left;
      padding: 0px 20px 0px 100px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.05); //slightly increase the size
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      }

      @include mixin.min-width-768 {
        float: left;
        width: 41%;
        text-align: right;
        padding: 0px 20px 20px 30px;
      }

      @include mixin.min-width-992 {
        padding: 0px 20px 20px;
      }

      @include mixin.min-width-1200 {
        padding: 0px 20px 20px 100px;
      }
    }

    .timeline-heading {
      h4 {
        // Customize date titles
        margin-top: 0px;
        color: inherit;

      }

      .subheading {
        // Customize subtitle
        text-transform: none;

      }
    }

    // panel body
    .timeline-body {
      p {
        // Customize body text
        margin-bottom: 0px;
        line-height: 1.75;
        color: var.$color-muted;

      }
    }
  }
}

// Style for inverted elements
.timeline-inverted { 
  // Customize toggle elements  
  .timeline-panel {
    float: left; //alternating panels align to the right
    text-align: left;
    padding: 0px 20px 0px 100px;

    @include mixin.min-width-768 {
      float: right !important;
      text-align: left !important;
      padding: 0px 30px 20px 20px;
    }

    @include mixin.min-width-992 {
      padding: 0px 20px 20px;
      float: right;
    }

  }
}

// Style for last element (final milestone)
.timeline-image {
  h4 {
    // Customize final message
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;

    @include mixin.min-width-768 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }

    @include mixin.min-width-992 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }

    @include mixin.min-width-1200 {
      margin-top: 40px;
    }
  }
}

// Night Mode Specific Styles
body.night-mode {

  // Main section
  .page-section#about {
    background-color: var.$bg-night1;

    .text-center {
      .section-heading {
        color: var.$text-title-dark;
      }

      .section-subheading {
        color: var.$text-muted-dark;
      }
    }
  }

  // Timeline
  .timeline {
    &::before {
      background-color: var.$line-color-dark; // Timeline in night mode
    }

    .timeline-image {
      border-color: var.$line-color-dark; //Images border color
    }

    .timeline-panel {
      .timeline-heading h4 {
        color: var.$text-title-dark;
      }
      &:hover {
        box-shadow: 0 8px 15px rgba(185, 182, 182, 0.2);
      }

      .timeline-body p {
        color: var.$text-p-dark;
      }
    }
  }
}