@use "mixin";

// Sección de contacto
#contact {
    background-color: rgb(33, 37, 41);
    background-image: url(../assets/img/map-image.png);
    background-repeat: no-repeat;
    background-position: center center;
  
    .container {
  
      // Contenedor principal de la sección
      .text-center {
  
        // Encabezado de la sección
        .section-heading {
          // Título principal
          color: rgb(255, 255, 255);
          @include mixin.title; 
        }
  
        .section-subheading {
          // Subtítulo
          @include mixin.subtitles; 
          color: rgb(108, 117, 125) !important;
  
        }
      }
  
      // Formulario de contacto
      form#contactForm {
        .row {
  
          // Fila principal del formulario
          .col-md-6 {
  
            // Columnas del formulario
            .form-group {
              // Agrupación de cada campo de formulario
              margin-bottom: 1.5rem;
  
              input {
                padding: 1.25rem;
              }
  
              .form-control {
                height: auto;
              }
            }
  
            .form-group-textarea {
              // Campo de mensaje
              padding: 1.25rem;
  
              textarea {
                height: 100%;
                min-height: 10rem;
              }
            }
          }
        }
  
        // Mensajes de éxito y error
        #submitSuccessMessage {
          // Estilos para el mensaje de éxito
        }
  
        #submitErrorMessage {
          // Estilos para el mensaje de error
        }
  
        // Botón de envío
        .text-center {
          .btn-xl {          
            @include mixin.btn-xl();         
          }
        }
      }
    }
  }