@use "mixin";
@use "var";

// Footer
.footer {
    text-align: center;
    font-size: 0.9rem;
  
    .container {
      .row {
        // Main footer row 
        .col-lg-4 {
          // Footer columns
          &.my-3 {
            // Style for the center column with social icons
            .btn-social {
              // Social buttons
              @include mixin.btn-social;
            }
          }
          .link{
            color: var.$color-link;
          }
        }
      }
    }
  }

  body.night-mode{
    .footer{
      .container{
        .row{
          .col-lg-4{
            &.my-3 {                 
              a{
                color: #F0F0F0; 
                      background-color: var.$bg-btnSocial-night;
                      &:hover {
                        background-color: var.$bg-btnSocial-night-hover;
                      } 
              }         
            }
            .link{
              color: var.$color-link-night;
            } 
          }
        }
      }
    }
  }