

// General styles for modals
.portfolio-modal {
    &.modal {
      // Estilos base para el modal
    }
  
    .modal-dialog {
      // Estilos para el diálogo del modal
      transition: transform 0.3s ease-out;
      transform: translate(0, -50px);
      margin: 1rem;
      max-width: 100vw;
  
    }
  
    .modal-content {
      // Estilos para el contenido del modal
      padding-top: 6rem;
      padding-bottom: 6rem;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
    }
  
    .close-modal {
      // Estilos para el botón de cerrar el modal
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      background-color: transparent;
  
      img {
        // Estilos para el ícono de cerrar
        margin-bottom: 2rem;
        vertical-align: middle;
      }
    }
  
    .container {
  
      // Estilos para el contenedor principal
      .row {
  
        // Estilos para la fila
        .col-lg-8 {
          // Estilos para la columna que contiene el contenido del modal
  
          .modal-body {
            // Estilos específicos para el cuerpo del modal
            position: relative;
            flex: 1 1 auto;
  
            h2 {
              // Estilos para el título del proyecto
              font-size: 3rem;
              line-height: 3rem;
            }
  
            .item-intro {
              // Estilos para el texto introductorio
              font-style: italic;
              margin-bottom: 2rem;
  
            }
  
            img {
              // Estilos para las imágenes dentro del modal
              margin-bottom: 2rem;
            }
  
            p {
              // Estilos para los párrafos
              margin-bottom: 2rem;
              line-height: 1.75;
            }
  
            ul {
              // Estilos para la lista de detalles
              margin-bottom: 2rem;
              padding-left: 0;
              list-style: none;
              margin-top: 0;
  
              li {
                // Estilos para cada ítem de la lista
                display: list-item;
                text-align: center;
                unicode-bidi: isolate;
  
                strong {
                  // Estilos para los títulos de los detalles
                  font-weight: bolder;
                }
              }
            }
  
            .btn {
              // Estilos para el botón
              padding: 1.25rem 2.5rem;
              font-size: 1.125rem;
              font-weight: 700;
  
              &.btn-primary {
                // Estilos específicos para el botón primario
              }
  
              i {
                // Estilos para el ícono dentro del botón
                overflow: visible;
                box-sizing: content-box;
              }
            }
          }
        }
      }
    }
  }