@use "var";
@use "mixin";

.portfolio-modal.show {
  display: block;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

// General styles for modals
.portfolio-modal {
  display: none;
  position: fixed;   
  padding: 1rem;
  border-radius: 8px;
  @include mixin.min-width-1200{
    left: 4.5%;
  }
  
  &.modal {
    // Base styles for the modal
    transition: opacity 0.3s ease; // Transition when showing or hiding the modal
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 25px;

    &.open {
      opacity: 1; 
      transform: translateY(0px);
    }

    &.close {
      opacity: 0;
      transform: translateY(-50px);
    }

     &.show {
       opacity: 1;
       pointer-events: auto; // Allow interactivity only if the modal is visible
     }
  }

  .modal-dialog {
    // Styles for the modal dialog
    transition: transform 0.4s ease-in-out; // Smoother transition for animation effect
    margin: 1rem;
    max-width: 90%;    
  }

  .modal-content {
    // Styles for modal content
    padding-top: 2rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px; // rounded edges
    background-color: var.$bg-modal;
    pointer-events: auto;
  }

  .close-modal {
    // Styles for the close button of the modal
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: var.$bg-btn-close;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;

    &:hover {
      background: var.$bg-btn-close-hover; // Hover effect to provide interactivity
    }

    img {
      // Styles for the close icon
      width: 60%;
    }
  }

  .container {
    width: 100%;

    // Styles for the main container
    .row {
      // Styles for the row
      .col-lg-8 {
        // Styles for the column that contains the content of the modal
        .modal-body {
          // Specific styles for the modal body
          padding: 1rem;

          h2 {
            // Styles for the project title
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: 700;
          }
          .item-intro {
            // Styles for introductory text
            font-style: italic;
            margin-bottom: 1rem;
            font-size: 1rem;
          }
          img {
            // Styles for images within the modal
            margin: 1rem 0;
            max-width: 100%;
            height: auto;
            border-radius: 4px;
          }

          p {
            // Paragraph styles
            margin-bottom: 1rem;
            line-height: 1.6;
            font-size: 1rem;
          }

          ul {
            // Styles for the details list
            margin: 1rem 0;
            padding-left: 1.5rem;
            list-style-type: disc;

            li {
              // Styles for each list item
              font-size: 0.9rem;
              margin-bottom: 0.5rem;
              list-style: none;

              strong {
                // Styles for detail titles
                font-weight: bolder;
              }
            }
          }

          .btn {
            // Styles for the button
            margin: 1rem 0;
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            color: var.$bg-modal;
            background: var.$bg-btn-close;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;

            &:hover {
              background-color: var.$bg-btn-close-hover;
            }
            i {
              // Styles for the icon inside the button
              overflow: visible;
              box-sizing: content-box;
            }
          }
        }
      }
    }
  }
}

body.night-mode{
  .portfolio-modal{
    .modal-content{
      background-color: var.$bg-modal-night-mode;
    }
    .container{
      .row{
        .col-lg-8{
          .modal-body{
            p{
              color: var.$text-muted-dark;
            }  
            .btn{
              background-color: var.$bg-btn-close-hover;
              &:hover{
                background-color: var.$bg-btn-close;
                color: var.$bg-modal;
              }
            }          
          }          
        }
      }
    }

  }
}