@use "mixin";
@use "var";

// Base styles for the navigation bar
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease-in-out; //Smooth transition

  &.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out; // Smooth transition
  }

  .navbar-default {
    background-color: rgba(0, 0, 0, 0.8); // Semi-transparent dark background
  }

  @include mixin.max-width-991 {
    background-color: rgba(33, 37, 41, 0.9) !important;
  }

  &#mainNav {
    // Specific ID of the main navigation bar
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(33, 37, 41, 0.9);
    transition: paddin-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

    @include mixin.min-width-992 {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      background-color: transparent;

    }

    .navnav {
      @include mixin.min-width-992 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgb(33, 37, 41);
      }

      .navbar-brand {
        font-size: 1.25em;
      }
    }
  }
  .container {
    // General Navigation Container

    .navbar-brand {
      // Styles for the logo or brand text
      color: rgb(255, 200, 0);
      font-weight: 700;
      letter-spacing: 0.0625em;
      text-transform: uppercase;

      @include mixin.min-width-992 {
        font-size: 1.5rem;
        transition: font-size 0.3s ease-in-out;
      }

      img {
        // Styles for the logo image
        height: 1.5rem;

        @include mixin.min-width-992 {
          height: 2.5rem;
          transition: height 0.3s ease-in-out;
        }
      }
    }

    button {
      position: relative;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease; //button rotation

      // Only shrink on click, but not while rotating
      &:not(.rotate):active {
        transform: scale(0.95); // Small reduction when clicking
      }

      &.rotate {
        animation: spin 0.6s ease-in-out forwards; //complete rotation
      }

      //hover applied only on desktop devices
      @media (hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }

      @include mixin.min-width-992 {
        margin-left: 15rem;
      }

      .icon {
        position: absolute;
        font-size: 24px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
      }
      .sun {
        color: #ffcc00;
      }
      .moon {
        color: #ffffff;
      }
    }
    // Rotation animation
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
    .navbar-toggler {
      // Styles for the collapsible button
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.75rem;
    }
    .collapse {
      &.navbar-collapse {

        // Styles for the collapsible section
        button {
          background-color: transparent;
          border-color: transparent;
          color: white;
        }
        .nav-item {
          // Styles for each list item
          @include mixin.min-width-992 {
            margin-right: 1rem;
          }

          .nav-link {
            // Styles for navigation links
            font-size: 0.95rem;
            color: #fff;
            letter-spacing: 0.0625em;
            &.active {
              // Styles for the active link             
              font-size: 1.2rem;
              font-weight: bold;
              background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
              background-size: 200% 200%;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              animation: gradient-animation 3s ease infinite;
              text-align: center;

              @keyframes gradient-animation {
                0% {
                  background-position: 0% 50%;
                }

                50% {
                  background-position: 100% 50%;
                }

                100% {
                  background-position: 0% 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

body.night-mode {
  .navbar {
    .container {
      .collapse {
        &.navbar-collapse {
          button {
            color: #918686;
          }
        }
      }
    }
  }
}
