
@use "mixin";
@use "var";

// Portfolio Grid Section
.page-section {
    padding: 6rem 0px;
    background-color: var.$bg-light2;
    transition: background-color 0.3s ease;
    &#portfolio {
      // Specific styles for the portfolio section 
      .container {
        // Styles for the container 
        .text-center {  
          // Styles for the centered text section
          h2 {
            // Styles for section title
            @include mixin.title; 
            font-family: "Agu Display",serif;
          }  
          h3 {
            // Styles for the section subtitle
            @include mixin.subtitles;             
          }
        }

        //filter style
        .text-center{
          button{
            border: #2e2c2c;
            color: #121212;
            background-color: #f4f0f0;
            @include mixin.max-width-991{
              margin: 10px;
            }
            &:hover{
              background-color: var.$colortext2;
            }
            &:focus{
              background-color: var.$colortext2;
            }
          }
        }

        .text-center{
          input{
            background-color: #f4f0f0;            
          }
        }
  
        .row {           
          // Styles for the main row
          .col-lg-4,
          .col-sm-6 {
            // @include mixin.animate(fadeUp, 0.6s, ease-out, 0.4s); 
            .portfolio-item {
              // Styles for each portfolio item
              max-width: 26rem;
              margin-left: auto;
              margin-right: auto;
              border: px solid #ddd;
              border-radius: 10px;
              box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
              transition: transform 0.3s ease, box-shadow 0.3s ease;
              &:hover{
                transform: translateY(-10px);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
                transform: scale(1.1);
              }  
              .portfolio-link {
                // Portfolio Link Styles
                position: relative;
                display: block;
                margin: 0px auto;
                color: #ffc400;
  
                .portfolio-hover {
                  // Styles for the hover layer
                  display: flex;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: rgba(255, 200, 0, 0.9);
                  align-items: center;
                  justify-content: center;
                  opacity: 0;
                  transition: opacity ease-in-out 0.25s;
  
                  .portfolio-hover-content {
                    // Styles for hover content
                    font-size: 1.25rem;
                    color: white;
                  }
                }
  
                img {
                  // Styles for the item image
                  border-radius: 10px;
                  height: 400px;
                  width: 450px;
                  @include mixin.max-width-991 {
                    height: 300px;
                    width: 400px;
                  }
                }
              }
  
              .portfolio-caption {
                // Styles for the footer of each item
                padding: 1.5rem;
                text-align: center;
                background-color: #fff;
  
                .portfolio-caption-heading {
                  // Footer Header Styles
                  font-size: 1.5rem;
                  font-weight: 700;
                  margin-bottom: 0;
                }
  
                .portfolio-caption-subheading {
                  // Styles for the footer subtitle
                  font-style: italic;
                  color: var.$color-muted;  
                }
              }
            }
          }
        }
      }
    }
  }
  // Night Mode Specific Styles
  body.night-mode{
    .page-section {
      background-color: var.$bg-night2;  
      &#portfolio {
        // Specific styles for the portfolio section  
        .container {
          // Styles for the container    
          .text-center {
    
            // Styles for the centered text section
            h2 {
              // Styles for section title
              @include mixin.title;
              color: var.$text-title-dark; 
            }
    
            h3 {
              // Styles for the section subtitle
              @include mixin.subtitles; 
              color: var.$text-muted-dark;
            }
          }
    
          .row {
    
            // Styles for the main row
            .col-lg-4,
            .col-sm-6 {
              .portfolio-item {
                border: 4px solid var.$bg-night1;                 
                .portfolio-caption {
                  // Styles for the footer of each item    
                  text-align: center;
                  background-color: var.$bg-night1;      
                  .portfolio-caption-subheading {
                    //Styles for the footer subtitle
                      color: var.$text-muted-dark;
                  }
                }
              }
            }
          }
        }
      }
    }
  }