@use "mixin";
@use "var";

//Styles for the "Services" section
#services {

  &.page-section {
    padding: 6rem 0px;
    background-color: var.$bg-light1;

    @include mixin.min-width-768 {
      padding: 9rem 0px;
    }

    .container {
      .text-center {
        .section-heading {
          @include mixin.title;
          font-family: "Agu Display", serif;

        }
        .section-subheading {
          @include mixin.subtitles;          
        }
      }

      .row {
        .col-md-4 {
          .fa-stack {
            .fa-inverse {
              
              background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
              border-radius: 100%;
              animation: gradient-animation 3s ease infinite;
              text-align: center;


              @keyframes gradient-animation {
                0% {
                  background-position: 0% 50%;
                }

                50% {
                  background-position: 100% 50%;
                }

                100% {
                  background-position: 0% 50%;
                }
              }
            }
          }

          p {
            color: var.$color-muted;
          }
        }
      }
    }
  }
}

// Night Mode Specific Styles
body.night-mode {
  #services {
    &.page-section {
      background-color: var.$bg-night1; // Dark background for the entire section    
      .container {
        .text-center {
          .section-heading {
            color: var.$text-title-dark; // Clear titles in Night Mode
          }

          .section-subheading {
            color: var.$text-muted-dark; // Slightly darker subtitles
          }
        }

        .row {
          .col-md-4 {
            .fa-stack {
              .fa-circle {
                color: #616161; // Change primary color in night mode
              }

              .fa-inverse {
                background: linear-gradient(90deg, #444, #555, #666, #777); // Adjusted gradient for Night Mode
              }
            }
          }

          h4 {
            color: var.$text-title-dark; // Titles inside icons
          }

          p {
            color:var.$text-p-dark;
          }
        }
      }
    }
  }
}