@use "mixin";
@use "var";

// Team section
.page-section {
  
    &#team {
      background-color: var.$bg-light2;
      .container {
        // Main container
  
        .text-center {
  
          // title
          .section-heading {
            // Main title
            @include mixin.title; 
            font-family: "Agu Display",serif;
          }
  
          .section-subheading {
            // caption
            @include mixin.subtitles; 
          }
        }
  
        .row {
  
          // Row of team members       
          .col-lg-4 {
            // Columns for each team member
  
            .team-member {
              // General style for members
              margin-bottom: 3rem;
              text-align: center;
  
              img {
                // Style for images
                width: 14rem;
                height: 14rem;
                border-width: 0.5rem;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.1);
                border-image: initial;
              }
  
              h4 {
                //Member Name
                margin-top: 1.5rem;
                margin-bottom: 0px;
              }
  
              p {
                line-height: 1.75;
                color: rgba(108, 117, 125, 0.75); // light gray
              }
  
              .btn {
                &.btn-dark {
                  // dark button
  
                  &.btn-social {
                    // Social buttons  
                    @include mixin.btn-social;               
                  }
                }
              }
            }
          }
        }
  
        .row:last-of-type {
          // Second row with the description
  
          .col-lg-8 {
            &.mx-auto {
  
              //Centered column
              .text-center {
                p {
                  line-height: 1.75;
                  color: var.$color-muted;
                }
              }
            }
          }
        }
      }
    }
  }
  
  // Night Mode Specific Styles
  body.night-mode {
    .page-section {
    
      &#team {
        background-color: var.$bg-night2;
        .container {
          // Main container
    
          .text-center {
    
            // title
            .section-heading {
              // Main title
              @include mixin.title; 
              color: var.$text-title-dark
            }
    
            .section-subheading {
              // Caption
              @include mixin.subtitles; 
              color: var.$text-muted-dark;
            }
          }
    
          .row {
    
            //Row of team members       
            .col-lg-4 {
              // Columns for each team member
    
              .team-member {
                // General style for members
                margin-bottom: 3rem;
                text-align: center;
    
                img {
                  //Style for images
                  width: 14rem;
                  height: 14rem;
                  border-width: 0.5rem;
                  border-style: solid;
                  border-color: rgba(0, 0, 0, 0.1);
                  border-image: initial;
                }
    
                h4 {
                  // Member Name
                  margin-top: 1.5rem;
                  margin-bottom: 0px;
                }
    
                p {
                  line-height: 1.75;
                  color: var.$text-p-dark;
                }
    
                .btn {
                  &.btn-dark {
                    // dark button
    
                    &.btn-social {
                      // Social buttons    
                      color: #F0F0F0; 
                      background-color: var.$bg-btnSocial-night;
                      &:hover {
                        background-color: var.$bg-btnSocial-night-hover;
                      }            
                    }
                  }
                }
              }
            }
          }
    
          .row:last-of-type {
            // Second row with the description
    
            .col-lg-8 {
              &.mx-auto {
    
                // Centered column
                .text-center {
                  p {
                    line-height: 1.75;
                    color: var.$text-p-dark;    
                  }
                }
              }
            }
          }
        }
      }
    }  
  }