@use "mixin";
@use "var";

// Sección del team
.page-section {
  
    &#team {
      background-color: var.$bg-light2;
      .container {
        // Contenedor principal
  
        .text-center {
  
          // Títulos
          .section-heading {
            // Título principal
            @include mixin.title; 
            font-family: "Agu Display",serif;
          }
  
          .section-subheading {
            // Subtítulo
            @include mixin.subtitles; 
          }
        }
  
        .row {
  
          // Fila de miembros del equipo        
          .col-lg-4 {
            // Columnas para cada miembro del equipo
  
            .team-member {
              // Estilo general para los miembros
              margin-bottom: 3rem;
              text-align: center;
  
              img {
                // Estilo para las imágenes
                width: 14rem;
                height: 14rem;
                border-width: 0.5rem;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.1);
                border-image: initial;
              }
  
              h4 {
                // Nombre del miembro
                margin-top: 1.5rem;
                margin-bottom: 0px;
              }
  
              p {
                line-height: 1.75;
                color: rgba(108, 117, 125, 0.75); // Gris tenue
              }
  
              .btn {
                &.btn-dark {
                  // Botón oscuro
  
                  &.btn-social {
                    // Botones sociales   
                    @include mixin.btn-social;               
                  }
                }
              }
            }
          }
        }
  
        .row:last-of-type {
          // Segunda fila con la descripción
  
          .col-lg-8 {
            &.mx-auto {
  
              // Columna centrada
              .text-center {
                p {
                  line-height: 1.75;
                  color: var.$color-muted;
                }
              }
            }
          }
        }
      }
    }
  }
  
  // Estilos específicos para Night Mode
  body.night-mode {
    .page-section {
    
      &#team {
        background-color: var.$bg-night2;
        .container {
          // Contenedor principal
    
          .text-center {
    
            // Títulos
            .section-heading {
              // Título principal
              @include mixin.title; 
              color: var.$text-title-dark
            }
    
            .section-subheading {
              // Subtítulo
              @include mixin.subtitles; 
              color: var.$text-muted-dark;
            }
          }
    
          .row {
    
            // Fila de miembros del equipo        
            .col-lg-4 {
              // Columnas para cada miembro del equipo
    
              .team-member {
                // Estilo general para los miembros
                margin-bottom: 3rem;
                text-align: center;
    
                img {
                  // Estilo para las imágenes
                  width: 14rem;
                  height: 14rem;
                  border-width: 0.5rem;
                  border-style: solid;
                  border-color: rgba(0, 0, 0, 0.1);
                  border-image: initial;
                }
    
                h4 {
                  // Nombre del miembro
                  margin-top: 1.5rem;
                  margin-bottom: 0px;
                }
    
                p {
                  line-height: 1.75;
                  color: var.$text-p-dark;
                }
    
                .btn {
                  &.btn-dark {
                    // Botón oscuro
    
                    &.btn-social {
                      // Botones sociales     
                      color: #F0F0F0; 
                      background-color: var.$bg-btnSocial-night;
                      &:hover {
                        background-color: var.$bg-btnSocial-night-hover;
                      }            
                    }
                  }
                }
              }
            }
          }
    
          .row:last-of-type {
            // Segunda fila con la descripción
    
            .col-lg-8 {
              &.mx-auto {
    
                // Columna centrada
                .text-center {
                  p {
                    line-height: 1.75;
                    color: var.$text-p-dark;    
                  }
                }
              }
            }
          }
        }
      }
    }  
  }