


//background text nav
$colortext1: #ff7eb3;
$colortext2: #ff526f;
$colortext3: #ff616d;
$colortext4: #ff7eb3;

//color de botones xl
$colorbtn: #ff526f;

//color de botones xl hover
$colorbtn-hover: #ff3d5c;

