// background colors
$bg-light1: #ffffff;
$bg-light2: #f8f9fa;
$bg-night1: #121212;
$bg-night2: #2e2c2c;

//background text nav
$colortext1: #ff7eb3;
$colortext2: #ff526f;
$colortext3: #ff616d;
$colortext4: #ff7eb3;

//header
$color-text-light: #ffffff;

//color de botones xl
$colorbtn: #ff526f;
$colorbtn-hover: #ff3d5c;

//color botones sociales
$bg-btnSocial-night: #808080;
$bg-btnSocial-night-hover: #5A5A5A;

//color contact
$success-color: #155724;
$error-color: #721c24;
$input-border-color: #ced4da;
$input-focus-border-color: $colortext2;
$invalid-feedback-color: $error-color;



// text colors
$color-muted: rgba(108, 117, 125, 0.75); // Gris tenue
$text-muted-dark: #bdbdbd;
$text-title: #000000;
$text-title-dark: #e0e0e0;
$text-light: #f5f5f5; //night mode
$text-p-dark: #bdbdbdc1;

// 
$line-color-dark: #666666;

//footer
$color-link: #000000;
$color-link-night: #c0bcbc;

//modal
$bg-modal: #ffffff;
$bg-btn-close: #333;
$bg-btn-close-hover: #555;
$bg-modal-night-mode: #333