@use "mixin";
@use "var";


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  position: relative;
}



// Estilos base para la barra de navegación
.navbar {
  &.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out; // Transición suave
  }

  .navbar-default {
    background-color: rgba(0, 0, 0, 0.8); // Fondo oscuro semitransparente
  }

  @include mixin.max-width-991 {
    background-color: rgba(33, 37, 41, 0.9) !important;
  }

  &#mainNav {
    // ID específico de la barra de navegación principal
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(33, 37, 41, 0.9);
    transition: paddin-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

    @include mixin.min-width-992 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      background-color: transparent;

    }

    .navnav {
      @include mixin.min-width-992 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgb(33, 37, 41);
      }

      .navbar-brand {
        font-size: 1.25em;
      }
    }
  }


  .container {
    // Contenedor general de la navegación

    .navbar-brand {
      // Estilos para el logo o texto de la marca
      color: rgb(255, 200, 0);
      font-weight: 700;
      letter-spacing: 0.0625em;
      text-transform: uppercase;

      @include mixin.min-width-992 {
        font-size: 1.5rem;
        transition: font-size 0.3s ease-in-out;
      }

      img {
        // Estilos para la imagen del logo
        height: 1.5rem;

        @include mixin.min-width-992 {
          height: 2.5rem;
          transition: height 0.3s ease-in-out;
        }

      }
    }

    .navbar-toggler {
      // Estilos para el botón colapsable
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.75rem;

      i {
        // Ícono dentro del botón
      }
    }

    .collapse {
      &.navbar-collapse {

        // Estilos para la sección colapsable
        .nav-item {

          // Estilos para cada elemento de la lista
          @include mixin.min-width-992 {
            margin-right: 1rem;
          }

          .nav-link {
            // Estilos para los enlaces de navegación
            font-size: 0.95rem;
            color: #fff;
            letter-spacing: 0.0625em;

            &.active {
              // Estilos para el enlace activo               

              font-size: 1.2rem;
              font-weight: bold;
              background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
              background-size: 200% 200%;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              animation: gradient-animation 3s ease infinite;
              text-align: center;


              @keyframes gradient-animation {
                0% {
                  background-position: 0% 50%;
                }

                50% {
                  background-position: 100% 50%;
                }

                100% {
                  background-position: 0% 50%;
                }
              }



            }
          }
        }
      }
    }
  }
}




header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("/assets/img/header/geike-verniers-fBsFqwmwhgg-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  @include mixin.min-width-768 {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }

  .container {

    .masthead-subheading {
      font-size: 1.5rem;
      font-style: italic;
      line-height: 1.5rem;
      margin-bottom: 25px;

      @include mixin.min-width-768 {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
      }

    }

    .masthead-heading {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 3.25rem;
      margin-bottom: 2rem;

      @include mixin.min-width-768 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
      }


    }

    .btn-xl {
      @include mixin.btn-xl;      
    }
  }
}


// Estilos para la sección "Services"

#services {
  &.page-section {
    padding: 6rem 0px;

    @include mixin.min-width-768 {
      padding: 9rem 0px;
    }

    .container {


      .text-center {


        .section-heading {
          @include mixin.title;          
        }

        .section-subheading {
          @include mixin.subtitles;          
        }
      }

      .row {


        .col-md-4 {


          .fa-stack {


            .fa-circle {
              //color: #ffc400; // Color primario

            }

            .fa-inverse {
              //color: #fff; // Ícono blanco encima del círculo
              background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
              border-radius: 100%;
              animation: gradient-animation 3s ease infinite;
              text-align: center;


              @keyframes gradient-animation {
                0% {
                  background-position: 0% 50%;
                }

                50% {
                  background-position: 100% 50%;
                }

                100% {
                  background-position: 0% 50%;
                }
              }


            }
          }

          h4 {}

          p {}
        }
      }
    }
  }
}

// Portfolio Grid Section
.page-section {
  padding: 6rem 0px;
  &#portfolio {
    // Estilos específicos para la sección de portafolio

    .container {
      // Estilos para el contenedor

      .text-center {

        // Estilos para la sección de texto centrado
        h2 {
          // Estilos para el título de la sección
          @include mixin.title; 
        }

        h3 {
          // Estilos para el subtítulo de la sección
          @include mixin.subtitles; 
        }
      }

      .row {

        // Estilos para la fila principal
        .col-lg-4,
        .col-sm-6 {
          .portfolio-item {
            // Estilos para cada ítem del portafolio
            max-width: 26rem;
            margin-left: auto;
            margin-right: auto;

            .portfolio-link {
              // Estilos para el enlace del portafolio
              position: relative;
              display: block;
              margin: 0px auto;
              color: #ffc400;

              &:hover {
                // Estilos para hover del enlace

              }

              .portfolio-hover {
                // Estilos para la capa de hover
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(255, 200, 0, 0.9);
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity ease-in-out 0.25s;

                .portfolio-hover-content {
                  // Estilos para el contenido del hover
                  font-size: 1.25rem;
                  color: white;

                  .fa-3x {
                    // Estilos para el ícono en hover
                  }
                }
              }

              img {
                // Estilos para la imagen del ítem
              }
            }

            .portfolio-caption {
              // Estilos para el pie de cada ítem
              padding: 1.5rem;
              text-align: center;
              background-color: #fff;

              .portfolio-caption-heading {
                // Estilos para el encabezado del pie
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 0;
              }

              .portfolio-caption-subheading {
                // Estilos para el subtítulo del pie
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}


// Sección principal
.page-section {
  // Estilos generales para la sección "About"


  &#about {
    // Personalizar contenedor

    .container {      
      .text-center {
        // Títulos y subtítulos


        .section-heading {
          // Personalizar título principal
          @include mixin.title; 
        }

        .section-subheading {
          // Personalizar subtítulo
          @include mixin.subtitles; 
        }
      }
    }
  }
}

// Línea de tiempo
.timeline {
  // Elementos de la lista
  position: relative;
  padding: 0px;
  list-style: none;


  &::before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 40px; //centra la linea horizontalmente
    width: 2px; //grosor de la linea 
    margin-left: -1.5px;
    content: "";
    background-color: rgb(233, 236, 239); //color de la línea  

    //box-sizing: border-box;
    @include mixin.min-width-768 {
      left: 50%;
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
  }

  li {
    // Imagen de la línea de tiempo
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;

    @include mixin.min-width-768 {
      min-height: 100px;
      margin-bottom: 100px;
    }

    @include mixin.min-width-992 {
      min-height: 150px;
    }

    @include mixin.min-width-1200 {
      min-height: 170px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &::before {
      display: table;
      content: "";
    }

    &::after {
      clear: both;
      display: table;
      content: "";
    }

    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0px;
      width: 80px;
      height: 80px;
      margin-left: 0px;
      text-align: center;
      color: white;
      background: linear-gradient(90deg, var.$colortext1, var.$colortext2, var.$colortext3, var.$colortext4);
      border-width: 7px;
      border-style: solid;
      border-color: rgb(233, 236, 239);
      border-image: initial;
      border-radius: 100%;

      @include mixin.min-width-768 {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
      }

      @include mixin.min-width-992 {
        width: 150px;
        height: 150px;
        margin-left: -75px;
      }

      @include mixin.min-width-1200 {
        width: 170px;
        height: 170px;
        margin-left: -85px;
      }
    }

    // Panel de contenido
    .timeline-panel {
      // Encabezado del panel      
      position: relative;
      float: right;
      width: 100%;
      text-align: left;
      padding: 0px 20px 0px 100px;

      @include mixin.min-width-768 {
        float: left;
        width: 41%;
        text-align: right;
        padding: 0px 20px 20px 30px;
      }

      @include mixin.min-width-992 {
        padding: 0px 20px 20px;
      }

      @include mixin.min-width-1200 {
        padding: 0px 20px 20px 100px;
      }
    }

    .timeline-heading {
      h4 {
        // Personalizar título de las fechas
        margin-top: 0px;
        color: inherit;

      }

      .subheading {
        // Personalizar subtítulo
        text-transform: none;

      }
    }

    // Cuerpo del panel
    .timeline-body {
      p {
        // Personalizar texto del cuerpo
        margin-bottom: 0px;
        line-height: 1.75;

      }
    }
  }


}

// Estilo para los elementos invertidos
.timeline-inverted {

  // Personalizar elementos alternados  
  .timeline-panel {
    float: right; //los paneles alternados se alinean a la derecha
    text-align: left;
    padding: 0px 20px 0px 100px;

    @include mixin.min-width-768 {
      float: right !important;
      text-align: left !important;
      padding: 0px 30px 20px 20px;
    }

    @include mixin.min-width-992 {
      padding: 0px 20px 20px;
    }

  }
}

// Estilo para el último elemento (hito final)
.timeline-image {
  h4 {
    // Personalizar mensaje final
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;

    @include mixin.min-width-768 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }

    @include mixin.min-width-992 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }

    @include mixin.min-width-1200 {
      margin-top: 40px;
    }
  }
}


//

// Sección del team
.page-section {
  
  &#team {
    .container {
      // Contenedor principal

      .text-center {

        // Títulos
        .section-heading {
          // Título principal
          @include mixin.title; 
        }

        .section-subheading {
          // Subtítulo
          @include mixin.subtitles; 
        }
      }

      .row {

        // Fila de miembros del equipo        
        .col-lg-4 {
          // Columnas para cada miembro del equipo

          .team-member {
            // Estilo general para los miembros
            margin-bottom: 3rem;
            text-align: center;

            img {
              // Estilo para las imágenes
              width: 14rem;
              height: 14rem;
              border-width: 0.5rem;
              border-style: solid;
              border-color: rgba(0, 0, 0, 0.1);
              border-image: initial;
            }

            h4 {
              // Nombre del miembro
              margin-top: 1.5rem;
              margin-bottom: 0px;
            }

            p {
              line-height: 1.75;
            }

            .btn {
              &.btn-dark {
                // Botón oscuro

                &.btn-social {
                  // Botones sociales   
                  @include mixin.btn-social;               
                }
              }
            }
          }
        }
      }

      .row:last-of-type {
        // Segunda fila con la descripción

        .col-lg-8 {
          &.mx-auto {

            // Columna centrada
            .text-center {
              p {
                line-height: 1.75;

                &.large {
                  // Texto final estilizado
                }
              }
            }
          }
        }
      }
    }
  }
}



// Sección de contacto
#contact {
  background-color: rgb(33, 37, 41);
  background-image: url(../assets/img/map-image.png);
  background-repeat: no-repeat;
  background-position: center center;

  .container {

    // Contenedor principal de la sección
    .text-center {

      // Encabezado de la sección
      .section-heading {
        // Título principal
        color: rgb(255, 255, 255);
        @include mixin.title; 
      }

      .section-subheading {
        // Subtítulo
        @include mixin.subtitles; 
        color: rgb(108, 117, 125) !important;

      }
    }

    // Formulario de contacto
    form#contactForm {
      .row {

        // Fila principal del formulario
        .col-md-6 {

          // Columnas del formulario
          .form-group {
            // Agrupación de cada campo de formulario
            margin-bottom: 1.5rem;

            input {
              padding: 1.25rem;
            }

            .form-control {
              height: auto;
            }
          }

          .form-group-textarea {
            // Campo de mensaje
            padding: 1.25rem;

            textarea {
              height: 100%;
              min-height: 10rem;
            }
          }
        }
      }

      // Mensajes de éxito y error
      #submitSuccessMessage {
        // Estilos para el mensaje de éxito
      }

      #submitErrorMessage {
        // Estilos para el mensaje de error
      }

      // Botón de envío
      .text-center {
        .btn-xl {          
          @include mixin.btn-xl();         
        }
      }
    }
  }
}





// Footer
.footer {
  //padding: 1rem 0; // Ajusta el espaciado general del footer
  text-align: center;
  font-size: 0.9rem;

  .container {
    .row {
      // Fila principal del footer

      .col-lg-4 {
        // Columnas del footer
        &.my-3 {
          // Estilo para la columna central con íconos sociales
          .btn-social {
            // Botones sociales
            @include mixin.btn-social;
          }
        }
      }
    }
  }
}


// General styles for modals
.portfolio-modal {
  &.modal {
    // Estilos base para el modal
  }

  .modal-dialog {
    // Estilos para el diálogo del modal
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
    margin: 1rem;
    max-width: 100vw;

  }

  .modal-content {
    // Estilos para el contenido del modal
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
  }

  .close-modal {
    // Estilos para el botón de cerrar el modal
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;

    img {
      // Estilos para el ícono de cerrar
      margin-bottom: 2rem;
      vertical-align: middle;
    }
  }

  .container {

    // Estilos para el contenedor principal
    .row {

      // Estilos para la fila
      .col-lg-8 {
        // Estilos para la columna que contiene el contenido del modal

        .modal-body {
          // Estilos específicos para el cuerpo del modal
          position: relative;
          flex: 1 1 auto;

          h2 {
            // Estilos para el título del proyecto
            font-size: 3rem;
            line-height: 3rem;
          }

          .item-intro {
            // Estilos para el texto introductorio
            font-style: italic;
            margin-bottom: 2rem;

          }

          img {
            // Estilos para las imágenes dentro del modal
            margin-bottom: 2rem;
          }

          p {
            // Estilos para los párrafos
            margin-bottom: 2rem;
            line-height: 1.75;
          }

          ul {
            // Estilos para la lista de detalles
            margin-bottom: 2rem;
            padding-left: 0;
            list-style: none;
            margin-top: 0;

            li {
              // Estilos para cada ítem de la lista
              display: list-item;
              text-align: center;
              unicode-bidi: isolate;

              strong {
                // Estilos para los títulos de los detalles
                font-weight: bolder;
              }
            }
          }

          .btn {
            // Estilos para el botón
            padding: 1.25rem 2.5rem;
            font-size: 1.125rem;
            font-weight: 700;

            &.btn-primary {
              // Estilos específicos para el botón primario
            }

            i {
              // Estilos para el ícono dentro del botón
              overflow: visible;
              box-sizing: content-box;
            }
          }
        }
      }
    }
  }
}